<html>
	<head>
		<title>Heather's Blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Heather's Blog from Django Girls</a></h1>
		</div>

		<div>
			<p>published: 14.06.2014, 12:14</p>
			<h2><a href="">My first post</a></h2>
			<p>I think you need a doctor. Your wish is my command. But be careful what you wish for. You look beautiful! ...considering. That you're human. The thing is, Adam, time travel is like visiting Paris. You can't just read the guidebook, you've got to throw yourself in! Eat the food, use the wrong verbs, get charged double and end up kissing complete strangers! Or is that just me? Rose... before I go, I just want to tell you: you were fantastic. Absolutely fantastic. And do you know what? So was I!</p>
		</div>

		<div>
			<p>published: 14.06.2014, 12:15</p>
			<h2><a href="">My second post</a></h2>
			<p>Are you capable of speaking without flapping your hands about? Shall we ask for a better quality of door so we can escape? Why are you pointing your screwdrivers like that? They're scientific instruments, not water pistols. Why is there never a big red button? Then, all things considered...it's time I grew up. 'Timey' what? 'Timey wimey'? Go and be the Doctor that I could never be. Great men are forged in fire. It is the privilege of lesser men to light the flame. Whatever the cost. Oh, for God's sake! Gallfrey stands!</p>
		</div>
	</body>
</html>
